*
::before
::after {
    box-sizing: border-box;
    text-decoration:none;
}
html {
    font-size:16px;
}
body {
    font-size: $text-size;
    font-family: $title-font-family;
    margin:0;
}
.clearfix::after {
    content:"";
    visibility:hidden;
    display:block;
    font-size:0px;
    clear:both;
    height:0px;
}
h1 {
    @include h1-title;
}
h2 {
    @include h2-title;
}
[class$="-button"] {
    @include gradient-button-mobile;
    width:90%; 
    max-width: 288px;
    height:48px;
    margin: 0 5%;
    }
img {
    max-width:100%;
}