*
::before
::after {
    box-sizing: border-box;
    text-decoration:none;
}
html {
    font-size:16px;
}
body {
    font-size: $text-size;
    font-family: $title-font-family;
    margin:2px;
}
.clearfix::after {
    content:"";
    visibility:hidden;
    display:block;
    font-size:0px;
    clear:both;
    height:0px;
}
h2 {
    font-family: $title-font-family;
    font-size: $title-text-size;
}
a {
    all:unset;

    &:visited {
        color:green;
    }
    &:hover {
        color: rgba(6, 10, 36, 0.56);
        cursor: pointer;
    }
}