@charset "UTF-8";
*
::before
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  font-family: "IBM Plex Sans", sans-serif;
  margin: 0;
}

.clearfix::after {
  content: "";
  visibility: hidden;
  display: block;
  font-size: 0px;
  clear: both;
  height: 0px;
}

h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 2.25rem;
  margin-left: 5%;
}

a {
  all: unset;
}

a:visited {
  color: green;
}

a:hover {
  color: rgba(6, 10, 36, 0.56);
  cursor: pointer;
}

[class$="-button"] {
  background-color: #00F3BB;
  font-family: "IBM Plex Mono", monospace;
  color: #060A24;
  font-size: 1.125rem;
  font-weight: 500;
  font-weight: bolder;
  border-style: none;
  width: 90%;
  max-width: 288px;
  height: 48px;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}

[class$="-button"]:hover {
  background-image: -webkit-gradient(linear, right top, left top, from(#0000FE), to(#00F0B8));
  background-image: linear-gradient(to left, #0000FE, #00F0B8);
  color: #FFFFFF;
  -webkit-transform: translatex(5px);
          transform: translatex(5px);
}

header {
  display: block;
  width: 100%;
  height: 44px;
  margin-bottom: 0.5%;
  margin: 0px;
}

header .topLogo {
  float: left;
  margin: 10px 0px 10px 16px;
}

header .topMenu {
  float: right;
  margin: 5.6 0.2 0.3 0;
}

header .hamMenu .ulContainer {
  color: red;
  height: 0px;
  overflow: hidden;
}

header .hamMenu label span {
  display: inline-block;
  width: 18px;
  height: 2px;
  background-color: black;
}

header .hamMenu #menu {
  display: none;
}

header .hamMenu #menu:checked ~ .ulContainer {
  height: 100px;
  overflow: visible;
}

@media screen and (max-width: 768px) {
  .introContainer {
    margin: 0 0 0.4% 5%;
  }
  .introContainer h1 {
    margin: 5% 0 0.3% 0;
    width: 66.3%;
    min-width: 200px;
    height: calc(85px + 42px);
    font-size: 2.25rem;
  }
  .introContainer span:nth-child(1) {
    text-decoration: line-through;
  }
  .introContainer span:nth-child(2) {
    color: #060A24;
  }
  .introContainer p {
    height: 1.2%;
    width: 90%;
    margin: 16px 0 36px 0;
  }
  .introContainer p:after {
    content: "Un podcast que explora el mundo de la programación. Nuevos episodios, todos los jueves cada 15 días.";
    margin-bottom: 0.7%;
    font-family: "IBM Plex Mono", monospace;
  }
}

.episodesContainer {
  position: relative;
  width: calc(100vw - 5%);
  height: 22.1%;
  background-color: blue;
  padding: 40px 0 0 5%;
}

.episodesContainer:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-top: 8vh solid white;
  border-right: 100vw solid blue;
}

.episodesContainer:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 10vh solid white;
  border-left: 100vw solid blue;
}

.episodesContainer h2 {
  color: #FFFFFF;
  margin: 16px 0 21px 0;
}

.episodesContainer .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  width: calc(100% + 5%);
  margin: 0 0 0 -5%;
}

.episodesContainer .flexContainer iframe {
  width: 93.1%;
  height: 225px;
  max-width: 298px;
}

.womenCodingContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.womenCodingContainer .phoneContainer {
  position: relative;
  width: 100%;
  padding: 0 10% 0 10%;
}

.womenCodingContainer .phoneContainer img {
  position: static;
  width: 100%;
  bottom: 10px;
}

.invitadosContainer {
  width: 100%;
}

.invitadosContainer .imgGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (3, 1fr)[auto-fill];
      grid-template-columns: repeat(auto-fill 3, 1fr);
  -ms-grid-rows: (2, 1fr)[auto-fill];
      grid-template-rows: repeat(auto-fill 2, 1fr);
  grid-auto-flow: row;
}

.invitadosContainer .imgGrid img {
  width: 100%;
}

.iconosContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px;
      grid-template-columns: 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.iconosContainer [class~="icon"] {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.novedadesContainer {
  background-color: blue;
  position: relative;
  width: 100%;
  height: 341px;
  padding-top: 5vh;
}

.novedadesContainer:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-top: 7vh solid white;
  border-right: 100vw solid blue;
}

.novedadesContainer h2 {
  margin-top: 15px;
  color: white;
}

.novedadesContainer h2 button {
  margin: auto;
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: (50%)[2];
      grid-template-rows: repeat(2, 50%);
  height: 121px;
}

footer h6 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1 / 6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  margin: auto;
}

footer i {
  margin: auto;
}

@media screen and (min-width: 769px) {
  header {
    display: block;
    height: 80px;
  }
  headerimg {
    position: relative;
    width: 36px;
    float: left;
    height: 36px;
    margin: 22px 0 0 100px;
  }
  header nav {
    display: block;
    float: right;
    padding: 26px 100px 26px 0;
    height: 80px;
    text-align: right;
  }
  header nav ul {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
  }
  header nav ul:last-child {
    margin-right: 0;
  }
  header nav li {
    font-family: 'IBM Plex Mono', monospace;
    text-transform: uppercase;
    list-style: none;
    font-size: 16px;
    display: inline;
    margin: 26px 24px;
  }
  header nav li:hover {
    color: #00F3BB;
    text-decoration: line-through;
    font-weight: 500;
  }
  header nav li:active {
    color: rgba(6, 10, 35, 0.56);
  }
  .introContainer {
    display: block;
    padding-left: 100px;
    text-align: left;
  }
  .introContainer p:after {
    content: "El portal de podcasts que explora el mundo de la programación y la tecnología. Nuevos episodios, todos los jueves cada 15 días.";
  }
  .introContainer h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 64px;
    margin: 120px 518px 0  0;
  }
  .introContainer span:nth-child(1) {
    text-decoration: line-through;
  }
  .introContainer span:nth-child(2) {
    color: #0000EC;
  }
  .introContainer p {
    width: 628px;
    height: 48px;
    line-height: 24px;
    margin: 0 0 72px 0;
  }
  .introContainer .conoce-button {
    width: 226px;
    height: 56px;
    margin-top: 56px 0 5px 0;
  }
  .episodesContainer {
    width: 1440px;
    height: 1042.6px;
    margin: 0 auto;
    position: relative;
    font-family: 'IBM Plex Sans', sans-serif;
    padding: 50px 0 0 0;
    background-color: #0000EC;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(#0000FF, solid), color-stop(#0000EC, solid));
    background-image: linear-gradient(solid #0000FF, solid #0000EC);
  }
  .episodesContainer:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-right: 1440px solid #0000EC;
    border-top: 120px solid white;
  }
  .episodesContainer:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 100px solid white;
    border-left: 1440px solid #0000EC;
  }
  .episodesContainer h2 {
    display: block;
    top: 50px;
    color: #FFFFFF;
    font-size: 48px;
    margin: 100px 0px;
    padding-left: 100px;
  }
  .episodesContainer .flexContainer {
    margin: 0px auto;
    padding: 0 100px 0 100px;
  }
  .womenCodingContainer {
    display: block;
    margin: 0 auto;
    background-color: white;
  }
  .womenCodingContainer .phoneContainer {
    position: relative;
    display: block;
    float: left;
    left: 100px;
    bottom: 140px;
    margin: 0px;
    padding: 0;
  }
  .womenCodingContainer .phoneContainer img {
    width: 457.6px;
    height: 660px;
  }
  .womenCodingContainer .phoneContainer .phoneTextContainer {
    position: relative;
    display: block;
    float: right;
    right: 300px;
    width: 464px;
    height: 204px;
    top: 60px;
    text-align: left;
  }
  .womenCodingContainer .phoneContainer .phoneTextContainer h2 {
    width: 399px;
    height: 62px;
    color: black;
    margin: 0px;
    padding-left: 0px;
    margin-bottom: 24px;
  }
  .womenCodingContainer .phoneContainer .phoneTextContainer p {
    font-family: 'IBM Plex Mono', monospace;
    color: #060A24;
    padding-top: 0px;
    margin-top: 0px;
  }
  .invitadosContainer .imgGrid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (3, 1fr)[auto-fill];
        grid-template-columns: repeat(auto-fill 3, 1fr);
    -ms-grid-rows: (2, 1fr)[auto-fill];
        grid-template-rows: repeat(auto-fill 2, 1fr);
    grid-auto-flow: column;
  }
  .invitadosContainer .imgGrid img {
    width: 100%;
  }
  .temasContainer {
    background-color: white;
    text-align: center;
  }
  .temasContainer h2 {
    color: black;
    margin: 100px 0 69px 0;
    font-size: 48px;
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: left;
  }
  .temasContainer h2 div {
    display: inline-block;
    text-align: center;
  }
  .temasContainer h2 div .icons {
    width: 260px;
    height: 140px;
    padding: 0 78px;
  }
  .novedadesContainer {
    position: relative;
    display: block;
    height: 518px;
    margin: 0 auto;
    padding-top: 100px;
    background-color: #0000EC;
    text-align: center;
    padding: 213px 0 0 0;
  }
  .novedadesContainer:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-top: 150px solid white;
    border-right: 1440px solid #0000EC;
  }
  .novedadesContainer h2 {
    width: 692px;
    height: 62px;
    color: white;
    margin: 0 auto;
  }
  .novedadesContainer .episodes-button {
    width: 345px;
    height: 56px;
  }
  .footer h6 {
    float: left;
  }
  .footer i {
    float: right;
  }
}
/*# sourceMappingURL=styles.css.map */